
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Colors */

$dark : #303F9F;
$primary: #3F51B5;
$light-primary: #C5CAE9;
$light: #FFFFFF;
$accent: #607D8B;
$primary-text: #212121;

$divider: #BDBDBD;
$text: #ffffff;
$main-font: 'Roboto', sans-serif;

html{
  font-family: $main-font;
}


// #main-content{
//   color: $primary-text;
 
// }

/* Sidebar */

#sidebar-wrapper{
  z-index: 1;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background-color: $dark;
  
  }

/* Main Content */

#content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15px;
  

}

/* change width of sidebar to display */

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 150px;
}

#wrapper.menuDisplayed #content-wrapper{
  padding-left: 150px;
}

/* Sidebar styling */
.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 35px;

}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
}
  
// .sidebar-nav li a:hover{
//   background-color: #020203;
// }
.sidebar-name{
  
  padding-left: 20px;
  line-height: 50px;
  text-align: center;
}
.sidebar-nav li a i{

  width: 20px;
  padding-right: 40px;
}

.sidebar-nav li:hover{
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;

}

.welcome{
 
  height: 200px;
  
  border: 20px 0 20px 0;
  text-align: center;
 

}

.navbar{
  background-color: $primary;
  color: $text !important;
  margin-bottom: 0px;
}

.box-num{
  border-right-color: $divider;
  border-right-style: solid;
  border-right-width: 2px;
  color: rgb(61, 64, 81);
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

.box-desc{
  text-align: center;
  color: $secondary-text;

}
.chart{
  padding: 15px;
}