
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



/* Sidebar */

#sidebar-wrapper{
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #2c3e50;
  border: 2px solid red;
  opacity: 0.9;
}

/* Main Content */

#content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15px;
  border: 5px solid green;
}

/* change width of sidebar to display */

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 250px;
}

#wrapper.menuDisplayed #content-wrapper{
  padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;

}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #ddd;
}
.sidebar-nav li a:hover{
  background: #16A012;
}