
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";



/* Sidebar */

#sidebar-wrapper{
  z-index: 1;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background-color: #2e353d;
  color: #e1ffff;
  }

/* Main Content */

#content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15px;
  border: 5px solid green;
}

/* change width of sidebar to display */

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 150px;
}

#wrapper.menuDisplayed #content-wrapper{
  padding-left: 150px;
}

/* Sidebar styling */
.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 35px;

}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #ddd;
}
// .sidebar-nav li a:hover{
//   background-color: #020203;
// }
.sidebar-name{
  
  padding-left: 20px;
  line-height: 50px;
  text-align: center;
}
.sidebar-nav li a i{

  width: 20px;
  padding-right: 40px;
}

.sidebar-nav li:hover{
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;

}